.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.all-content__section {
  background-color: rgba(237, 241, 242, .13);
  flex-direction: column;
  justify-content: space-between;
  font-family: Montserrat, sans-serif;
  display: flex;
  overflow: hidden;
}

.contactus-btn {
  cursor: pointer;
  background-color: rgba(56, 152, 236, 0);
  border: 1px solid #c7c7c7;
  border-radius: 60px;
  align-self: center;
  padding: 20px 45px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.hero-section {
  height: 90.4vh;
  background-color: #204959;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  flex-direction: row;
  grid-template-rows: 1fr;
  grid-template-columns: .25fr .5fr;
  grid-auto-columns: 1fr;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin-bottom: 180px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.container {
  width: 1280px;
  max-width: 1280px;
  min-width: 1280px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: row;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  position: relative;
}

.cta__logo-text {
  color: #fff;
  background-color: #3c6373;
  border-radius: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 15px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}

.cta__description {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.cta__git {
  flex-direction: column;
  display: flex;
}

.cta__logo-text_colored {
  color: #c7a48b;
}

.cta__git-description {
  color: #fff;
  margin-top: 45px;
  margin-bottom: 45px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 30px;
}

.cta__h1-text {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-size: 40px;
  line-height: 48px;
}

.cta__h1-text-span {
  color: #fff;
}

.cta__git-sendform {
  color: #fff;
  background-color: #c7a48b;
  border-radius: 60px;
  padding: 20px 45px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  text-decoration: none;
  display: none;
}

.cta__git-buttons {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: flex-start;
  align-self: flex-start;
  align-items: flex-start;
  display: flex;
}

.whychooseus {
  margin-bottom: 180px;
}

.services__block-text {
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.biruzoviy-span {
  color: #217191;
}

.button {
  color: #fff;
  background-color: #217191;
  border-radius: 60px;
  align-items: flex-end;
  padding: 10px 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
  display: flex;
}

.content-grid-solutions__cell {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: .25fr .25fr;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  justify-content: space-between;
  align-items: start;
  justify-items: start;
  display: grid;
}

.grid-cell__icon {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: .25fr;
  grid-auto-columns: 1fr;
}

.grid-cell__title {
  color: #131414;
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
}

.grid-cell__description {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.grid-cell__text {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-direction: column;
  grid-template-rows: auto auto auto;
  grid-template-columns: .75fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  justify-items: end;
  display: flex;
}

.services {
  justify-content: center;
  align-items: center;
  margin-bottom: 180px;
  display: flex;
}

.services__content {
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
}

.services__content.container {
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.services__answer-cta-logo-text {
  font-family: Montserrat, sans-serif;
  font-size: 35px;
  font-weight: 700;
  line-height: 42px;
}

.services__cta-logo-text {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}

.services__content-grid-solutions {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: stretch;
  padding-left: 20px;
  padding-right: 60px;
  display: flex;
}

.services-content-grid-solutions__cell {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: rgba(0, 0, 0, .19);
  border-radius: 30px;
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: .25fr .25fr;
  grid-auto-columns: 1fr;
  align-items: flex-end;
  padding: 50px;
}

.grid-cell__inner {
  grid-template-rows: auto;
  grid-template-columns: 1.5fr;
  grid-auto-columns: 1fr;
  justify-items: end;
  display: grid;
}

.services__content-grid-solutions-fs {
  height: 100%;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-direction: column;
  justify-content: flex-start;
  display: flex;
}

.services__content-grid-solutions-ss {
  height: 86%;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-direction: column;
  justify-content: center;
  margin-top: 90px;
  display: flex;
}

.hero-section__container {
  display: inline-block;
}

.contacts {
  background-color: #e6eced;
  border-radius: 40px;
  margin-left: 70px;
  margin-right: 70px;
}

.contacts__contacts-text {
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  flex-direction: column;
  display: flex;
}

.contacts-text__heading {
  margin-top: 0;
  margin-bottom: 0;
}

.contacts-text__waitingcall {
  font-size: 35px;
  font-weight: 700;
  line-height: 42px;
  display: inline;
}

.contacts-text__interested {
  color: #494b51;
  white-space: pre-wrap;
  font-size: 18px;
  line-height: 30px;
}

.contacts__directly {
  justify-content: space-between;
  display: flex;
}

.directly__phone {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.directly__email {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.vertical__separator {
  border: 1px solid #a7a7a7;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.phone__title {
  color: #888;
  font-weight: 500;
  line-height: 17px;
  display: inline;
}

.phone__link {
  color: #131414;
  font-size: 18px;
  line-height: 21px;
}

.contacts-text__pleasefeel {
  color: #494b51;
}

.email__title {
  color: #888;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
}

.email__link {
  font-size: 18px;
  font-style: normal;
  line-height: 22px;
}

.contacts__wrapper {
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.img-box-left {
  width: 100%;
  max-width: 200px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0 0;
  background-size: auto;
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  right: auto;
}

.success-message {
  background-color: #fff;
}

.form-block {
  width: 100%;
  max-width: 240px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.box__title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 27px;
  line-height: 34px;
}

.form {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  display: flex;
}

.text-span {
  color: #217191;
}

.form-box {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.phone-text {
  text-align: center;
  margin-top: 35px;
}

.line-11 {
  width: 20px;
  height: 10px;
  background-color: #14b758;
  position: absolute;
  top: 27px;
  left: 11px;
  transform: rotate(45deg);
}

.line-o2-2 {
  width: 60px;
  height: 10px;
  background-color: #14b758;
  position: absolute;
  top: 16px;
  left: 16px;
  transform: translate(-19px, 19px)rotate(-45deg);
}

.vnutr-copy {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .555s;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.vnutr-copy:hover {
  box-shadow: 0 0 0 12px rgba(255, 255, 255, .53);
}

.vnutr-copy:active {
  box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
}

.l-2 {
  color: #0b73c4;
  text-decoration: none;
  transition: all .555s;
  display: inline;
  box-shadow: 0 1px rgba(44, 168, 219, .5);
}

.l-2:hover {
  color: #333;
  box-shadow: 6px 9px 0 -9px rgba(44, 168, 219, .5);
}

.l-2.pri {
  color: #0b73c4;
  padding-bottom: 2px;
  display: inline-block;
  box-shadow: 0 1px rgba(44, 168, 219, .28);
}

.l-2.pri.w--current {
  color: #0973c4;
}

.center {
  text-align: center;
  align-items: center;
}

.line-10 {
  width: 100%;
  height: 2px;
  background-color: #f3f3f3;
  margin-top: 13px;
  margin-bottom: 20px;
}

.box__text {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.social-img {
  align-self: center;
}

.success__block {
  width: 100%;
  max-width: 750px;
  background-color: #fff;
  padding: 30px 30px 35px 375px;
  position: relative;
}

.yes__checkmark {
  z-index: 92;
  width: 60px;
  height: 60px;
  box-shadow: none;
  cursor: pointer;
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: all .555s;
  display: flex;
  position: absolute;
  top: 0;
  bottom: auto;
  left: auto;
  right: -62px;
}

.yes__checkmark:hover {
  transform: translate(5px, -5px);
  box-shadow: 0 0 0 -4px rgba(44, 168, 219, .1), -11px 17px 50px 2px rgba(27, 150, 201, .51);
}

.yes__checkmark:active {
  transform: none;
  box-shadow: 0 0 0 20px rgba(44, 168, 219, .1), -11px 17px 50px 2px rgba(27, 150, 201, .51);
}

.social__text {
  color: #d13e3e;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
}

.soclinks-2 {
  width: 40px;
  height: 40px;
  background-color: rgba(11, 115, 196, .5);
  border-radius: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  padding: 3px;
  transition: all .555s;
  display: flex;
}

.soclinks-2:hover {
  background-color: rgba(209, 62, 62, .44);
}

.soclinks-2:active {
  background-color: #1b96c9;
}

.social-links {
  justify-content: flex-end;
  display: flex;
}

.social-links.otstup-niz {
  margin-bottom: 30px;
}

.all {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.phone-mini-2 {
  color: #0b73c4;
  margin-top: 10px;
  font-size: 23px;
  font-weight: 700;
  text-decoration: none;
  transition: all .555s;
}

.phone-mini-2:hover {
  color: #333;
}

.lb2 {
  z-index: 89;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.close-fon {
  background-color: rgba(0, 0, 0, 0);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .555s;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.box-zagolovok {
  text-align: center;
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 27px;
  line-height: 34px;
}

.button-form-2 {
  width: 100%;
  text-align: center;
  background-color: #1b96c9;
  border-radius: 5px;
  padding: 20px 25px 22px;
  font-size: 18px;
  font-weight: 500;
  transition: all .555s;
  box-shadow: 0 20px 18px -10px rgba(27, 150, 201, .63);
}

.button-form-2:hover {
  background-color: #43afdb;
  transform: translate(0, -4px);
  box-shadow: 0 30px 30px -10px rgba(27, 150, 201, .63);
}

.button-form-2:active {
  background-color: #0c749e;
  transform: none;
  box-shadow: 0 13px 12px -10px rgba(27, 150, 201, .63);
}

.fullwindow-form {
  z-index: 88;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, .3);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.i-2 {
  min-height: 60px;
  background-image: url('../images/Phone.svg');
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: 20px;
  border: 1px solid rgba(0, 0, 0, 0);
  margin-bottom: 15px;
  padding-left: 35px;
  font-size: 18px;
  transition: all .555s;
  box-shadow: inset 0 -3px #1b96c9;
}

.i-2:focus {
  background-position: -30px;
  border-color: rgba(0, 0, 0, 0);
  padding-left: 0;
}

.button-18 {
  color: #fff;
  text-align: center;
  background-color: #0973c4;
  border-radius: 5px;
  padding: 12px 25px 14px;
  font-weight: 400;
  text-decoration: none;
  transition: all .555s;
  position: relative;
  overflow: hidden;
  box-shadow: 0 20px 18px -10px rgba(9, 115, 196, .34);
}

.button-18:hover {
  background-color: #43afdb;
  transform: translate(0, -4px);
  box-shadow: 0 30px 30px -10px rgba(27, 150, 201, .63);
}

.button-18:active {
  background-color: #0c749e;
  transform: none;
  box-shadow: 0 13px 12px -10px rgba(27, 150, 201, .63);
}

.button-18._002 {
  cursor: pointer;
  background-color: #c7a48b;
  border: 1px solid #c7c7c7;
  border-radius: 50px;
  padding: 20px 45px;
  box-shadow: 0 13px 20px -10px #c7a48b;
}

.button-18._002:hover {
  background-color: #05ce58;
}

.button-18._002:active {
  box-shadow: 0 20px 12px -15px rgba(20, 183, 88, .44);
}

.line-x2 {
  width: 35px;
  height: 10px;
  background-color: #e24242;
  position: absolute;
  transform: rotate(-45deg);
}

.line-x {
  width: 35px;
  height: 10px;
  background-color: #e24242;
  position: absolute;
  transform: rotate(45deg);
}

.close-form {
  z-index: 92;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background-color: #f5f5f4;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: all .555s;
  display: flex;
  position: absolute;
  top: 0;
  bottom: auto;
  left: auto;
  right: -60px;
}

.close-form:hover {
  transform: translate(5px, -5px);
  box-shadow: -4px 7px 0 2px rgba(255, 255, 255, .49);
}

.close-form:active {
  box-shadow: none;
  background-color: #fff;
  transform: none;
}

.form-fon {
  z-index: 90;
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  padding: 30px 40px 40px;
  position: relative;
}

.z-3 {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  display: block;
}

.z-3.flex-header {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.logo-9 {
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: auto;
  font-size: 18px;
  transition: all .555s;
  display: flex;
}

.logo-9:hover {
  color: #ff6732;
}

.logo-9:active {
  color: #fff;
}

.logo-9.no-mobile {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  color: #0b73c4;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

.menu-item {
  color: #333;
  padding: 19px 25px;
  font-size: 18px;
  line-height: 29px;
  transition: all .555s;
}

.menu-item:hover {
  color: #0973c4;
  box-shadow: inset 0 -2px #0973c4, inset 0 -60px #fff;
}

.menu-item:active {
  color: #202632;
  box-shadow: inset 0 -2px rgba(255, 103, 50, 0), inset 0 -60px rgba(255, 255, 255, .9);
}

.menu-item.w--current {
  color: #fff;
  display: none;
}

.nav-menu-13 {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  justify-content: space-between;
  display: flex;
}

.nav {
  background-color: #497a8e;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.slide-sertificate-data {
  z-index: 10;
  width: 400px;
  height: 300px;
  color: #262626;
  text-align: left;
  background-color: #fff;
  border-radius: 8px;
  flex-flow: wrap;
  align-content: center;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  position: absolute;
  top: 50%;
  bottom: auto;
  left: 0;
  right: auto;
  transform: translate(0, -50%);
}

.slide-sertificate {
  margin-right: 60px;
}

.slide-sertificate-content {
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.section-simetric {
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
}

.sertificate-mask {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
}

.wrap-sertificate-image {
  width: 610px;
}

.slider-sertificates {
  height: 500px;
  background-color: rgba(221, 221, 221, 0);
  margin-bottom: 60px;
}

.icon-4 {
  font-size: 32px;
}

.sertificate-date {
  color: #0b73c4;
  margin-bottom: 20px;
}

.small-title {
  width: 100%;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
}

.sertificate-description {
  font-size: 14px;
}

.sertificate-right-arrow {
  color: #0b73c4;
}

.slide-nav-hide {
  display: none;
}

.sertificate-left-arrow {
  color: #0b73c4;
}

.text-block {
  color: #000;
}

.s, .p {
  color: #bea48b;
}

.form__label, .form__input {
  margin-bottom: 0;
}

.form-submit__buttons {
  display: block;
}

.get-in-touch {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
}

.checkbox {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.checkbox__input {
  width: 20px;
  height: 20px;
}

.checkbox__label {
  margin-left: 10px;
}

.bold-text {
  font-weight: 600;
}

.btn-text-center-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.hover-btn-8-text-block {
  color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 1px;
  display: flex;
  position: absolute;
}

.hover-btn-8-slider-bottom {
  height: 51%;
  background-color: #c7a48b;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.hover-btn-8-slider-top {
  height: 51%;
  background-color: #c7a48b;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.hover-btn-8-line {
  width: 100%;
  height: 100%;
  border: 1.5px solid #fff;
  position: relative;
}

.hover-btn-8-slider-wrapper {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.cta__git-services {
  width: 200px;
  height: 60px;
  color: #fff;
  border-radius: 10px;
  align-self: center;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

.hover-btn-8-slider-left {
  width: 50%;
  background-color: #c7a48b;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.hover-btn-8-slider-right {
  width: 50%;
  background-color: #c7a48b;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.lightbox-link {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.div-block {
  height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
}

.div-block-2 {
  height: 100%;
  flex-direction: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: space-around;
  justify-content: space-around;
  display: flex;
}

.nav-menu-13-w-nav-menu {
  flex-direction: row;
  grid-template-rows: auto;
  grid-template-columns: .25fr;
  grid-auto-columns: 1fr;
  align-content: center;
  justify-content: start;
  align-items: center;
  justify-items: center;
  display: grid;
}

.list {
  grid-column-gap: 35px;
  grid-row-gap: 35px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  display: flex;
}

.sep-line {
  border: 1px solid #000;
}

.social-links__favicons {
  grid-column-gap: 22px;
  grid-row-gap: 22px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.soclink {
  width: 40px;
  height: 40px;
  background-color: rgba(11, 115, 196, .5);
  border-radius: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  padding: 3px;
  transition: all .555s;
  display: flex;
}

.soclink:hover {
  background-color: rgba(209, 62, 62, .44);
}

.soclink:active {
  background-color: #1b96c9;
}

.soclink._1st {
  transition: all .555s;
}

.soclink._1st:hover {
  background-color: rgba(209, 62, 62, .44);
}

.soclink._1st:active {
  background-color: #1b96c9;
}

.cta-btns {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  display: flex;
}

.cta-btn {
  width: 100%;
  border-radius: 60px;
  justify-content: center;
  align-items: center;
  padding: 20px 45px;
  display: flex;
}

.dropdown-10 {
  width: 100%;
}

.line-first {
  width: 20px;
  height: 2px;
  background-color: #0973c4;
}

.name-2 {
  white-space: pre-wrap;
  font-weight: 500;
  line-height: 140%;
}

.otvet {
  margin-top: 25px;
}

.grid-44 {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
}

.line-vertical {
  width: 20px;
  height: 2px;
  background-color: #0973c4;
  position: relative;
  top: -2px;
  transform: rotate(90deg);
}

.plus-bg {
  width: 62px;
  height: 62px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.dropdown-list-13 {
  background-color: #fff;
  padding-left: 30px;
  padding-right: 30px;
  display: block;
  position: relative;
  overflow: hidden;
}

.dropdown-toggle-14 {
  width: 100%;
  background-color: #f3f2f7;
  margin-bottom: 5px;
  padding-left: 30px;
  transition: all .555s;
}

.dropdown-toggle-14:hover {
  color: #0973c4;
  background-color: #fff;
  box-shadow: inset 0 0 0 2px #f3f2f7;
}

.answer-q__container {
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

.answer-q {
  margin-bottom: 120px;
}

.logo__img {
  filter: invert();
  -webkit-text-fill-color: inherit;
  background-clip: content-box;
}

._235235 {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 991px) {
  .contactus-btn {
    padding-left: 25px;
    padding-right: 25px;
    display: block;
  }

  .hero-section {
    flex-direction: column;
    padding: 20px;
  }

  .container {
    width: auto;
    max-width: 991px;
    min-width: 768px;
    padding-left: 20px;
    padding-right: 60px;
  }

  .whychooseus {
    max-width: 768px;
    grid-column-gap: 70px;
    grid-row-gap: 70px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    display: flex;
  }

  .button {
    display: none;
  }

  .button.adaptive {
    flex-direction: row;
    padding: 20px 105px;
    display: flex;
  }

  .services__content.container {
    padding-left: 25px;
  }

  .services-content-grid-solutions__cell {
    padding: 25px;
  }

  .grid-cell__inner {
    grid-template-columns: 1.5fr;
  }

  .l-2.pri {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
  }

  .l-2.pri.w--current {
    display: inline-block;
  }

  .yes__checkmark {
    margin-left: auto;
    margin-right: auto;
    top: -69px;
    bottom: auto;
    left: 0%;
    right: 0%;
  }

  .close-form {
    right: -60px;
  }

  .z-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .z-3.flex-header {
    height: 0;
    padding-left: 0;
    padding-right: 0;
    display: block;
  }

  .menu-button-8 {
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
  }

  .menu-button-8.w--open {
    background-color: #ca2e2e;
    padding: 0;
  }

  .logo-9.no-mobile {
    display: flex;
  }

  .menu-item {
    color: #202632;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .nav-menu-13 {
    height: 100%;
    background-color: #217191;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0;
    padding-top: 0;
    display: flex;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    overflow: hidden;
    box-shadow: 0 0 0 3px #0973c4;
  }

  .lottie-animation-5 {
    width: 60px;
    height: 60px;
    padding-top: 0;
    padding-bottom: 1px;
  }

  .slide-sertificate-data {
    width: 340px;
    height: 260px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .section-simetric {
    margin-bottom: 100px;
  }

  .sertificate-mask {
    width: 720px;
  }

  .wrap-sertificate-image {
    width: 56%;
  }

  .slider-sertificates {
    height: 400px;
    margin-bottom: 0;
  }

  .sertificate-right-arrow {
    right: -5%;
  }

  .sertificate-left-arrow {
    left: -5%;
  }

  .checkbox__label {
    margin-left: 10px;
  }

  .div-block-2 {
    justify-content: space-between;
  }

  .grid-44 {
    grid-template-columns: 1fr;
  }

  .menus {
    padding: 20px;
  }
}

@media screen and (max-width: 767px) {
  .all-content__section {
    max-width: 767px;
    min-width: 480px;
  }

  .contactus-btn {
    display: block;
  }

  .container {
    max-width: 767px;
    min-width: 480px;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
  }

  .cta__git-buttons {
    align-self: flex-start;
  }

  .whychooseus {
    max-width: 767px;
    min-width: 480px;
  }

  .services__block-text {
    align-items: flex-start;
  }

  .content-grid-solutions__cell {
    grid-template-columns: 1fr;
    padding-left: 120px;
    padding-right: 0;
  }

  .services {
    max-width: 767px;
    min-width: 480px;
  }

  .services__content.container {
    max-width: 767px;
    min-width: 480px;
    grid-template-columns: 1fr;
    justify-items: start;
    padding-left: 0;
    padding-right: 0;
  }

  .services__content-grid-solutions {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    flex-direction: column;
    grid-template-rows: auto auto;
    grid-template-columns: .95fr;
    grid-auto-columns: 1fr;
    padding-right: 0;
    display: grid;
  }

  .contacts {
    max-width: 767px;
    min-width: 480px;
    margin-left: 0;
    margin-right: 0;
  }

  .contacts__contacts-text {
    padding: 5px;
  }

  .img-box-left {
    display: none;
  }

  .l-2.pri.w--current {
    display: inline-block;
  }

  .success__block {
    padding: 25px 20px;
  }

  .yes__checkmark {
    z-index: 0;
    margin-left: auto;
    margin-right: auto;
    top: -60px;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .fullwindow-form {
    justify-content: flex-start;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .close-form {
    margin-left: auto;
    margin-right: auto;
    top: auto;
    bottom: -60px;
    left: 0%;
    right: 0%;
  }

  .logo-9.no-mobile {
    padding-left: 20px;
    display: flex;
  }

  .slide-sertificate-data {
    height: 500px;
    margin-bottom: 0;
    padding: 0;
    position: static;
    transform: none;
  }

  .slide-sertificate-content {
    height: auto;
    flex-direction: column;
    justify-content: space-between;
  }

  .sertificate-mask {
    width: 100%;
  }

  .wrap-sertificate-image {
    width: 100%;
    text-align: center;
  }

  .slider-sertificates {
    height: auto;
  }

  .small-title {
    font-size: 20px;
  }

  .sertificate-right-arrow {
    width: 60px;
    height: 60px;
    top: -150px;
  }

  .sertificate-left-arrow {
    width: 60px;
    height: 60px;
    top: -160px;
  }

  .dropdown-list-13 {
    padding-left: 0;
    padding-right: 0;
  }

  .dropdown-toggle-14 {
    padding-left: 20px;
    padding-right: 85px;
  }

  ._235235 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 479px) {
  .all-content__section {
    max-width: 479px;
    min-width: 240px;
  }

  .contactus-btn {
    display: block;
  }

  .hero-section {
    height: 100vh;
    max-width: 479px;
    min-width: 240px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-bottom: 80px;
    padding: 0 10px;
  }

  .hero-section__cta {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
  }

  .container {
    max-width: 479px;
    min-width: 240px;
    padding-left: 0;
    padding-right: 0;
  }

  .cta__git {
    justify-content: center;
    align-items: center;
  }

  .cta__git-description {
    padding-left: 0;
    font-size: 16px;
    line-height: 31px;
  }

  .cta__h1-text {
    flex-direction: column;
    padding-left: 5px;
    font-size: 27px;
    line-height: 32px;
    display: flex;
  }

  .cta__h1-text-span {
    line-height: 30px;
  }

  .cta__git-sendform {
    padding: 15px 20px;
    font-size: 16px;
    line-height: 19px;
  }

  .cta__git-buttons {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-direction: row;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    justify-content: flex-start;
    align-self: center;
    align-items: center;
    display: flex;
  }

  .whychooseus {
    max-width: 479px;
    min-width: 240px;
    grid-column-gap: 55px;
    grid-row-gap: 55px;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 80px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
  }

  .services__block-text {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-left: 10px;
  }

  .biruzoviy-span {
    text-transform: lowercase;
    font-size: 21px;
    line-height: 28px;
  }

  .button.adaptive {
    max-width: 479px;
    min-width: 280px;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .content-grid-solutions__cell {
    max-width: 479px;
    min-width: 240px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-rows: .25fr .25fr;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    display: block;
  }

  .grid-cell__title {
    white-space: pre-wrap;
    font-size: 20px;
    line-height: 24px;
  }

  .grid-cell__description {
    padding-right: 0;
    line-height: 26px;
  }

  .grid-cell__text {
    white-space: pre-wrap;
    display: flex;
  }

  .services {
    max-width: 479px;
    min-width: 240px;
    margin-bottom: 80px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .services__content.container {
    max-width: 479px;
    min-width: 240px;
    grid-column-gap: 55px;
    grid-row-gap: 55px;
    align-items: flex-start;
    margin-left: 0;
    display: flex;
  }

  .services__answer-cta-logo-text {
    font-size: 20px;
    line-height: 36px;
  }

  .services__content-grid-solutions {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding-left: 0;
  }

  .grid-cell__inner {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-direction: column-reverse;
    display: flex;
  }

  .services__content-grid-solutions-fs {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .services__content-grid-solutions-ss {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-top: 65px;
  }

  .hero-section__container {
    flex-direction: row;
    align-self: center;
    display: flex;
  }

  .body {
    max-width: 479px;
    min-width: 240px;
  }

  .contacts {
    max-width: 479px;
    min-width: 240px;
    margin-left: 0;
    margin-right: 0;
  }

  .contacts__contacts-text {
    max-width: 479px;
    min-width: 240px;
    padding: 10px;
  }

  .contacts__contacts-forms {
    max-width: 479px;
    min-width: 240px;
  }

  .contacts-text__waitingcall {
    font-size: 28px;
  }

  .contacts-text__interested {
    white-space: normal;
  }

  .contacts__directly {
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    flex-direction: column;
    justify-content: space-between;
  }

  .directly__email {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  .contacts__wrapper {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    flex-direction: column;
    padding: 10px;
    display: flex;
  }

  .box__title {
    line-height: 32px;
  }

  .text-span {
    display: block;
  }

  .center {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .yes__checkmark {
    top: -63px;
    bottom: auto;
    left: 0%;
    right: 0%;
  }

  .phone-mini-2 {
    margin-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
  }

  .box-zagolovok {
    line-height: 32px;
  }

  .fullwindow-form {
    justify-content: center;
  }

  .form-block-min {
    padding-bottom: 0;
  }

  .button-18._002 {
    text-align: center;
    padding-left: 22px;
    padding-right: 22px;
  }

  .close-form {
    top: auto;
    bottom: -60px;
    left: 0%;
    right: 0%;
  }

  .form-fon {
    padding-left: 21px;
    padding-right: 21px;
  }

  .z-3 {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
  }

  .logo-9.no-mobile {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    flex-direction: row;
    align-items: center;
    padding-left: 0;
    display: flex;
  }

  .menu-item {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .nav-menu-13 {
    max-width: 479px;
    min-width: 240px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    background-color: #204959;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 0;
    padding: 0 10px;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .lottie-animation-5 {
    margin-top: 0;
  }

  .slide-sertificate-data {
    width: 100%;
    margin-bottom: 60px;
    padding: 0;
  }

  .slide-sertificate {
    margin-right: 80px;
  }

  .slide-sertificate-content {
    padding-top: 0;
  }

  .section-simetric {
    margin-bottom: 80px;
  }

  .sertificate-mask {
    padding-top: 0;
    padding-bottom: 0;
  }

  .slider-sertificates {
    margin-bottom: 50px;
  }

  .sertificate-right-arrow, .sertificate-left-arrow {
    top: auto;
    bottom: -60px;
  }

  .lightbox-link {
    margin-bottom: 0;
  }

  .div-block {
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .div-block-2 {
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    display: flex;
  }

  .nav-menu-13-w-nav-menu {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-direction: column;
    grid-template-rows: auto;
    grid-template-columns: .25fr;
    grid-auto-columns: 1fr;
    justify-content: start;
    align-items: center;
    display: grid;
  }

  .list-item {
    list-style-type: none;
  }

  .list {
    grid-column-gap: 35px;
    grid-row-gap: 35px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
    display: flex;
  }

  .sep-line {
    border: 1px solid #000;
  }

  .social-links__favicons {
    display: flex;
  }

  .soclink._1st {
    margin-left: 0;
  }

  .otvet {
    padding-top: 10px;
  }

  .answer-q {
    margin-bottom: 80px;
  }

  ._235235 {
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: 1fr;
  }

  .whychooseus__title {
    align-self: flex-start;
  }

  .text-block-2 {
    font-weight: 700;
  }
}

#w-node-_013dc0af-46a5-5931-0582-c4c6164650b4-32f7661d {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: baseline;
  justify-self: baseline;
}

#w-node-_013dc0af-46a5-5931-0582-c4c6164650b7-32f7661d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_013dc0af-46a5-5931-0582-c4c6164650b8-32f7661d, #w-node-d22c0f99-64a9-786d-a6af-41b49154576c-32f7661d {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: baseline;
  justify-self: baseline;
}

#w-node-d22c0f99-64a9-786d-a6af-41b49154576f-32f7661d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-d22c0f99-64a9-786d-a6af-41b491545770-32f7661d, #w-node-_474b9af6-1e1a-b941-ce29-99f3b2b0210f-32f7661d {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: baseline;
  justify-self: baseline;
}

#w-node-_474b9af6-1e1a-b941-ce29-99f3b2b02112-32f7661d {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: stretch;
  justify-self: stretch;
}

#w-node-_474b9af6-1e1a-b941-ce29-99f3b2b02113-32f7661d, #w-node-_0ea8fa0f-0ed0-a93e-b5fb-e3817697bdda-32f7661d {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: baseline;
  justify-self: baseline;
}

#w-node-_0ea8fa0f-0ed0-a93e-b5fb-e3817697bddd-32f7661d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_0ea8fa0f-0ed0-a93e-b5fb-e3817697bdde-32f7661d, #w-node-_13e411ce-b4c6-2cd3-c57c-428be77fb921-32f7661d {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: baseline;
  justify-self: baseline;
}

#w-node-_13e411ce-b4c6-2cd3-c57c-428be77fb924-32f7661d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_13e411ce-b4c6-2cd3-c57c-428be77fb925-32f7661d, #w-node-_72540351-a38c-7469-817e-33220b9bfdb8-32f7661d {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: baseline;
  justify-self: baseline;
}

#w-node-_72540351-a38c-7469-817e-33220b9bfdbb-32f7661d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_72540351-a38c-7469-817e-33220b9bfdbc-32f7661d {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: baseline;
  justify-self: baseline;
}

@media screen and (max-width: 479px) {
  #w-node-_013dc0af-46a5-5931-0582-c4c6164650b4-32f7661d, #w-node-d22c0f99-64a9-786d-a6af-41b49154576c-32f7661d, #w-node-_474b9af6-1e1a-b941-ce29-99f3b2b0210f-32f7661d, #w-node-_0ea8fa0f-0ed0-a93e-b5fb-e3817697bdda-32f7661d, #w-node-_13e411ce-b4c6-2cd3-c57c-428be77fb921-32f7661d, #w-node-_72540351-a38c-7469-817e-33220b9bfdb8-32f7661d {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: baseline;
    justify-self: baseline;
  }
}


